<!doctype html>

<html lang="en-us">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>SoccerStat</title>
   </head>
  <body>
      <h1>Databases</h1>
      <li><a href="{{ url_for('databases') }}">Databases</a></li>

      <h1>Collections Mongo</h1>
      <li><a href="{{ url_for('collections_mongo') }}">Collections Mongo</a></li>

      <h1>Competitions Mongo</h1>
      <li><a href="{{ url_for('competitions_mongo') }}">Competitions Mongo</a></li>

      <h1>Seasons Mongo</h1>
      <li><a href="{{ url_for('seasons_mongo') }}">Seasons Mongo</a></li>

      <h1>Matchweeks Mongo</h1>
      <li><a href="{{ url_for('matchweeks_mongo') }}">Matchweeks Mongo</a></li>

      <h1>Everything Mongo</h1>
      <li><a href="{{ url_for('everything_mongo') }}">Everything Mongo</a></li>
   </body>
</html>