<!doctype html>

<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SoccerStat</title>
    <script type="text/javascript">
      var seasons_ = new Array();
      var matchweeks_ = new Array();
      var games_ = new Array();
      var i=0;
      {% for comp,info in data.items() %}
        seasons_[i] = new Array();
        matchweeks_[i] = new Array();
        games_[i] = new Array();
        var j = 0;
        {% for seas in info[0]['seasons'] %}
          matchweeks_[i][j] = new Array();
          games_[i][j] = new Array();
          seasons_[i].push({{ seas['name'] | tojson | safe }});
          var k = 0;
          {% for week in seas['matchweeks'] %}
            matchweeks_[i][j].push({{ week['week'] | tojson | safe }});
            games_[i][j][k] = new Array();
            var l = 0;
            {% for game in week['games'] %}
              games_[i][j][k][l] = new Array();
              games_[i][j][k][l][0] = {{ game['home'] | tojson | safe }};
              games_[i][j][k][l][1] = {{ game['score'] | tojson | safe }};
              games_[i][j][k][l][2] = {{ game['away'] | tojson | safe }};
              games_[i][j][k][l][3] = {{ game['date'] | tojson | safe }};
              games_[i][j][k][l][4] = {{ game['link'] | tojson | safe }};
              l = l+1;
            {% endfor %}
            k = k+1;
          {% endfor %}
          j = j+1;
        {% endfor %}
        i = i+1;
      {% endfor %}

      function setSeasons(){
        comp_id = document.getElementById('championship_id');
        seasonsList = seasons_[comp_id.selectedIndex];
        changeSelect('season_id', seasonsList);
      }

      function setMatchweeks(){
        comp_id = document.getElementById('championship_id');
        season_id = document.getElementById('season_id');
        matchweeksList = matchweeks_[comp_id.selectedIndex][season_id.selectedIndex];
        changeSelect('matchweek_id', matchweeksList);
      }

      function getGames(){
        comp_id = document.getElementById('championship_id');
        season_id = document.getElementById('season_id');
        matchweek_id = document.getElementById('matchweek_id');
        gamesList = games_[comp_id.selectedIndex][season_id.selectedIndex][matchweek_id.selectedIndex];
        displayOutput('games_id', gamesList);
      }

      function changeSelect(fieldID, newList){
        selectField = document.getElementById(fieldID);
        selectField.options.length = 0;
        for (i=0; i<newList.length; i++) {
          selectField.options[selectField.length] = new Option(newList[i], newList[i], newList[i]);
        }
      }

      function displayOutput(fieldID, newList){
        table = document.getElementById(fieldID);
        table.innerHTML = "";
        for (i=0; i<newList.length; i++) {
          len_liste = newList[i].length;
          var row = document.createElement('tr');
          for (j=0; j<(len_liste-1); j++){
            var item = document.createElement('td');
            var item_a = document.createElement('a');
            var item_text = document.createTextNode(newList[i][j]);
            item_a.appendChild(item_text);
            item.appendChild(item_a);
            item.style.paddingBottom = "5%";
            row.appendChild(item);
          }
          var item_report = document.createElement('td');
          var item_a_report = document.createElement('a');
          var item_text_report = document.createTextNode('Report');

          item_a_report.setAttribute('href', newList[i][len_liste-1]);
          item_a_report.setAttribute('target', '_blank');
          item_a_report.setAttribute('rel', 'noopener noreferrer');

          item_a_report.appendChild(item_text_report);
          item_report.appendChild(item_a_report);
          item_report.style.paddingLeft = "10%";
          item_report.style.paddingBottom = "5%";
          row.appendChild(item_report);
          
          table.appendChild(row);
        }
      }
    </script>

  </head>

  <body>
    <h1 style="background-color: rgb(207, 170, 144);color: white;">
      Welcome to the website of SoccerStat!
    </h1>
    <form style="text-align: center">
      <tr>
        <td>
          <select name="championships" id="championship_id" onchange="setSeasons();" required>
            {% for comp,_ in data.items() %}
              <option value="{{ comp }}">{{ comp }}</option>
            {% endfor %}
            <option value="0" selected disabled hidden>Choose a championship</option>
          </select>
        </td>
        <td>
          <select name="season" id="season_id" onchange="setMatchweeks();" required>
            <option value="0">Choose a season</option>
          </select>
        </td>
        <td>
          <select name="matchweek" id="matchweek_id" onchange="getGames();" required>
            <option value="0">Choose a matchweek</option>
          </select>
        </td>
      </tr>
    </form>
    <table style="margin-left:auto;margin-right:auto;">
      <caption align="bottom">source: <i>fbref.com / Statsbomb</i></caption>
      <thead style="color:lightblue">
        <tr style="padding-bottom: 10%">
          <th>Home</th>
          <th>Score</th>
          <th>Away</th>
          <th>Date</th>
          <th style="padding-left: 10%;">Link</th>
        </tr>
      </thead>
      <tbody id="games_id">
      </tbody>
    </table>
  </body>
</html>